@import "tailwindcss";
@plugin '@tailwindcss/forms';

@theme {
	--navbar-size: 10vh;

	--transition-std: all 200ms ease-in-out;
}

@layer base {
	body {
		@apply overflow-x-hidden
		bg-slate-100 dark:bg-slate-900
		text-slate-950 dark:text-slate-50;
	}
}

@utility transition-* {
	transition: --value(--transition-*);
}

@layer components {
}
